/**
 * COmanage Registry Oa4mp Client Plugin Default Style Sheet
 *
 * Portions licensed to the University Corporation for Advanced Internet
 * Development, Inc. ("UCAID") under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.
 *
 * UCAID licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * @link          http://www.internet2.edu/comanage COmanage Project
 * @package       registry
 * @since         COmanage Registry v2.0.1
 * @license       Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

body.oa4mp_client_co_oidc_clients main td:first-child {
    width: 140px;
}

ul.form-list .field-dynamic-actions input {
    float: left;
    width: 90%;
    margin-right: 4px;
}

ul.form-list #callbacks-li input[type="text"] {
    width: 80%;
}

ul.field-ldap-to-claim-mapping {
    float: left;
    width: 90%;
}

div.field-children-inline {
    display: inline-block;
    width: 100%;
    line-height: 126px;
}

div.field-children-inline button {
    vertical-align: middle;
}

#oa4mp_client_add_callback_input_button {
    margin-top: 4px;
}

.named-config-name {
  font-weight: bold;
}
.named-config-desc {
  font-size: 0.9em;
}
.named-config-required-scopes {
  font-style: italic;
  font-size: 0.9em;
}

.checkbox-checked-appear-disabled .form-check-input {
  appearance: none;
  cursor: default;
}
.checkbox-checked-appear-disabled label {
  cursor: default;
  color: #666;
}
.checkbox-checked-appear-disabled .material-icons-outlined {
  padding: 0;
  margin: 0 0 0 -1.25em;
  font-size: 16px;
  vertical-align: middle;
  color: #666;
  cursor: default;
}

#oidc-client-id {
  width: 70%;
  margin-right: 12px;
}

#oidc-client-secret {
  width: 70%;
  margin-right: 12px;
}

#oidc-client-id-label {
  width: 10%;
}

#oidc-client-secret-label {
  width: 10%;
}

#oidc-client-id-value {
  width: 60%;
}

#oidc-client-secret-value {
  width: 60%;
}

#oidc-client-id-btn {
  display: inline-block;
}

#oidc-client-secret-btn {
  display: inline-block;
}

#oidc-client-continue {
  margin-top: 12px;
}

/* Claim name override message alignment and styling */
#ClaimNameField .field-name,
#ClaimNameField .field-info {
  vertical-align: top;
}

#ClaimNameField .oa4mp-override-message {
  display: none;
  margin-top: 6px;
  color: #d32f2f;
}